<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>CV - Lucas Garcia</title>
    <link rel="stylesheet" href="./Styles/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>CV - Lucas Garcia</h1>
        <img
          class="profile-pic"
          src="/Images/profile.jpg"
          alt="Profile Picture"
        />
      </div>
    </header>

    <main>
      <section class="about">
        <div class="about-container">
          <h2>Sobre mim</h2>
          <p>
            Sou um desenvolvedor Full Stack com cerca de dois anos de
            experiência, especializado em aplicações desktop complexas com
            C#/.NET, incluindo projetos desafiadores no desenvolvimento de
            softwares CAD, onde a precisão e a performance são essenciais. Além
            disso, tenho experiência no desenvolvimento de Web APIs utilizando
            tecnologias como React e integração com serviços em nuvem, como
            Azure. Com essa combinação de habilidades, criei soluções robustas e
            escaláveis para atender às necessidades dos clientes. Busco
            constantemente aprimorar minhas habilidades e acompanhar as últimas
            tendências tecnológicas. Tenho um forte compromisso com a qualidade
            e a eficiência do código, acreditando que um código bem estruturado
            e documentado é fundamental para o sucesso a longo prazo dos
            projetos. Estou em busca de novos desafios e oportunidades para
            aplicar meu conhecimento e experiência. Se você procura um
            desenvolvedor Full Stack com experiência em C#/.NET, aplicações
            desktop complexas e criação de Web APIs com React e Azure, estou
            pronto para contribuir em projetos emocionantes e fazer parte de uma
            equipe talentosa. Ficarei feliz em discutir oportunidades de
            colaboração ou fornecer mais informações sobre meu trabalho. Entre
            em contato comigo para mais detalhes." Certifique-se de personalizar
            a bio com suas próprias informações e experiências relevantes
          </p>
        </div>
      </section>

      <section class="education">
        <div class="education-container">
          <h2>Formação Educacional</h2>
          <ul>
            <li>
              <h3>
                Bacharelado em Engenharia de Software/ UNINTER - 2022 (Cursando)
              </h3>
            </li>
            <li>
              <div class="cert-container">
                <h3>New U-Best Advanced Certified/ UNINTER - 2022</h3>
                <img
                  class="cert-img"
                  src="/Images/english_uninter.png"
                  alt="Certificado Curso de Inglês Avançado na UNINTER"
                />
              </div>
            </li>
            <li>
              <div class="cert-container">
                <h3>Formação NET Developer Bootcamp/ DIO - 2023</h3>
                <img
                  class="cert-img"
                  src="/Images/net_bootcamp.png"
                  alt="Certificado Bootcamp do ecossistema NET na DIO "
                />
              </div>
            </li>
            <div class="cert-container">
              <h3>Spread Fullstack Developer Bootcamp/ DIO - 2023</h3>
              <img
                class="cert-img"
                src="/Images/fullstack_bootcamp.png"
                alt="Certificado Bootcamp de React, NodeJs e outras tecnologias na DIO "
              />
            </div>
          </ul>
        </div>
      </section>

      <section class="portfolio">
        <div class="portfolio-container">
          <h2>Portfólio</h2>
          <ul>
            <li>
              <div class="link-container">
                <img class="ptf-img" src="" alt="Github logo" />
                <a href="link_do_projeto1"
                  >Meus Repositórios de .NET no Github</a
                >
              </div>
            </li>
            <li>
              <div class="link-container">
                <img class="ptf-img" src="" alt="Github logo" />
                <a href="link_do_projeto1"
                  >Meus Repositórios de React no Github</a
                >
              </div>
            </li>
            <li>
              <div class="link-container">
                <img class="ptf-img" src="" alt="Behance logo" />
                <a href="link_do_projeto1">Meus Projetos de UX/UI no Behance</a>
              </div>
            </li>
            <li>
              <div class="link-container">
                <img class="ptf-img" src="" alt="Medium logo" />
                <a href="link_do_projeto1">Meus Artigos Publicados no Medium</a>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="contact">
        <div class="contact-container">
          <h2>Contato</h2>
        </div>
      </section>
    </main>
  </body>
</html>
