<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Teste</title>
    <link rel="stylesheet" href="/Styles/styles.css" />
  </head>

  <body>
    <!-- Header -> contém meu nome , posição e imagem de perfil -->
    <header>
      <img
        class="profile-image"
        src="/Images/profile.jpg"
        alt="Imagem do perfil"
      />
      <h1 class="name">Lucas Miguel Garcia da Silva</h1>
      <h2 class="position">Desenvolvedor Fullstack C#</h2>
    </header>

    <main>
      <!-- Seção "Sobre mim -> contém um breve resumo sobre minha experiência geral até o momento, e um apanhado geral das minhas habilidades" -->
      <section class="about">
        <h2>Sobre mim</h2>
        <div class="about-container">
          <!-- Bio -->
          <p>
            Sou um desenvolvedor Full Stack com dois anos de experiência,
            especializado em aplicações desktop complexas com C#/.NET, incluindo
            projetos desafiadores no desenvolvimento de softwares CAD, onde a
            precisão e a performance são essenciais. Além disso eu tenho
            experiência no desenvolvimento de soluções web com React e serviços
            de nuvem como Azure. Fora do ambiente principal de trabalho, costumo
            criar conteúdo internacional de tecnologia, usando a plataforma
            Medium
          </p>
        </div>
      </section>

      <!-- Seção "Formação Educacional -> contém certificados dos principais cursos de tecnologia e faculdade em andamento" -->
      <section class="education">
        <h2>Formação Educacional</h2>
        <div class="certificate">
          <img
            class="certificate-image"
            src="/Images/uninter.jpg"
            alt="Certificado da Faculdade"
          />
          <p class="certificate-text">Bacharelado em Engenharia de Software (cursando) na UNINTER</p>
        </div>
        <div class="certificate">
          <img
            class="certificate-image"
            src="/Images/net_bootcamp.png"
            alt="Certificado do Bootcamp .NET"
          />
          <p class="certificate-text">Certificado do Bootcamp .NET na DIO</p>
        </div>
        <div class="certificate">
          <img
            class="certificate-image"
            src="/Images/fullstack_bootcamp.png"
            alt="Certificado do Bootcamp Fullstack"
          />
          <p class="certificate-text">Certificado do Bootcamp Fullstack na DIO</p>
        </div>
        <div class="certificate">
          <img
            class="certificate-image"
            src="/Images/english_uninter.png"
            alt="Certificado de Inglês Avançado"
          />
          <p class="certificate-text">Certificado de Inglês Avançado na UNINTER</p>
        </div>
      </section>

      <!-- Seção "Portfólio -> contém links dos meus principais repositórios e artigos online" -->
      <section class="portfolio">
        <h2>Portfólio</h2>
        <div class="portfolio-container">
          <div class="portfolio-item">
            <img class="portfolio-icon" src="/Images/github.png" alt="Ícone do GitHub" />
            <a href="link_perfil_github">Meu perfil no GitHub</a>
          </div>
          <div class="portfolio-item">
            <img class="portfolio-icon" src="/Images/behance.png" alt="Ícone do Behance" />
            <a href="link_perfil_behance">Meus trabalhos de UX/UI no Behance</a>
          </div>
          <div class="portfolio-item">
            <img class="portfolio-icon" src="/Images/medium.png" alt="Ícone do Medium" />
            <a href="link_perfil_medium">Meus artigos publicados no Medium</a>
          </div>
          <div class="portfolio-item">
            <img class="portfolio-icon" src="/Images/gitlab.jpg" alt="Ícone do GitLab" />
            <a href="link_perfil_gitlab">Meu perfil no GitLab</a>
          </div>
        </div>
      </section>

      <!-- Seção "Contato -> contém informações para entrar em contato comigo através de email e redes sociais" -->
      <section class="contact">
        <h2>Contato</h2>
        <div class="contact-container">
          <div class="contact-item">
            <img class="contact-icon" src="/Images/linkedin.png" alt="Ícone do LinkedIn" />
            <a href="link_linkedin">LinkedIn</a>
          </div>
          <div class="contact-item">
            <img class="contact-icon" src="/Images/gmail.png" alt="Ícone de E-mail" />
            <a href="mailto:seu_email">E-mail</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
